*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration:none;
    color:black;
}
a:hover{
    text-decoration: none;
    color:#F2133C;
}
a:visited{
    text-decoration:none;
    color:black;
}

button{
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    background-color:#2E2E2E;
    color: white;
    font-weight:bold;   
}
button:hover{
    cursor: pointer;
    background-color:#F2133C;
}

body {
    background-image: url("img/index.png");  
    width: 100%;
    background-size: cover; 
}

header{
    display: flex;
    flex-wrap: wrap;
    align-items: centre;
    justify-content: space-between;
    padding: 15px 120px;
}
#brand-logo{
    align-self: center;
}
#brand-logo  img{
    width: 200px;
}
.header-links{
    font-weight: bold;
}
nav a{
    padding:0 10px ;
}

#section-1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80%;  
    margin-top: 50px;
}

#left{
    width:40%;
    padding: 0 120px;
    align-self: center;
}
#left h1{
    font-size:4.5vw;
    padding-top: 0px;
    color: #F2133C;
}
#left h3{
    font-size:2.5vw;
    margin-bottom:-5.5%;   
}
#start-building{
    margin-top:20px;
    padding:15px 50px;
    color: black;
    background-color:white;
    box-shadow:3px 3px 6px rgb(206, 206, 206);
}
#start-building:hover{
    background-color:#F2133C;
    color:white;   
}

#right{
    width:60%;
}
#right img{
    height: 35vw;
    margin: 0 120px -7px 0;
    box-shadow:-4px -4px 0 #464646;
}
#right img:hover{
    border-radius:50px 0 0 0;
    box-shadow:-4px -4px 0 #F2133C;
    transition: 0.5s;
}

footer {
    height: 68px;
    background-color: #F2133C;
    position: fixed;
    bottom: 0;
    width: 100%;
}